/* Contenedor principal */
.lista-items-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #EA044E;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000;
}

.back-button {
    position: fixed;
    top: 35px;
    left: 45px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    color: #ffffff;
    /* Cambia el color al pasar el mouse */
}

svg {
    stroke-width: 2;
    /* Hace la flecha más gruesa */
    stroke: currentColor;
    /* Asegura que tome el color actual */
}

/* Título */
.titulo {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Tabla */
.tabla-items {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-items thead tr {
    background-color: #EA044E;
    color: white;
    text-align: left;
}

.tabla-items th,
.tabla-items td {
    padding: 12px 15px;
    border: 1px solid #00000029;
    border-radius: 2px;
}

.tabla-items th {
    font-size: 1rem;
    font-weight: bold;
}

.tabla-items tbody tr {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.tabla-items tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-items tbody tr:hover {
    background-color: #e9f5ff;
}

/* Botones de acción */
.btn-accion {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-accion:focus {
    outline: none;
}

/* Botón Editar */
.btn-editar {
    color: #28a745;
}

.btn-editar:hover {
    background-color: #e6f9ec;
    color: #1c7c31;
}

/* Botón Eliminar */
.btn-eliminar {
    color: #dc3545;
}

.btn-eliminar:hover {
    background-color: #fdeaea;
    color: #a71d2a;
}